<header class="main-header">
    <!-- Logo -->
    <a class="logo" href="#">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>A</b>mn</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><i class="fa fa-tripadvisor"></i>  <b> Angular</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown user user-menu" ng-controller="LoginCtrl">
                            <a  ng-click="logout()">
                                <i class="fa fa-list-alt"></i> <span>Logout</span>
                            </a>

               
            </ul>
        </div>
    </nav>
</header>
