<!-- Content Wrapper. Contains page content -->
<div class="wrapper">
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
            History
            <small>list</small>
          </h1>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="box-tools text-center form-group" ng-if="!previousHistory.length">
                <div class="has-feedback">
                    <!-- <input type="text" ng-model="searchFilter.search" class="form-control input-sm" placeholder="Search..."> -->
                    You dont have history records!!
                </div>
            </div>
            <!-- /.box-tools -->
            <table ng-if="previousHistory.length" ng-table="tableParams" class="table table-condensed table-bordered table-striped" show-filter="true">
                <tr ng-repeat="history in $data">
                    <td class="text-center" data-title="'Date'" sortable="'checkedInTime'">{{history.checkedInTime | date:"MM-dd-yyyy"}}</td>
                    <td class="text-center" data-title="'Checked In Time'" sortable="'checkedInTime'">{{history.checkedInTime | date: 'shortTime'}}</td>
                    <td class="text-center" data-title="'Checked Out Time'" sortable="'checkedOutTime'">{{history.checkedOutTime | date: 'shortTime'}}</td>
                    <td class="text-center" data-title="'Total Worked Time'"> {{getTimeDiffernce(history.checkedInTime, history.checkedOutTime)}} </td>
                </tr>
            </table>
        </section>
        <!-- /.content -->
    </div>
</div>
